@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 212 76% 8%;
    --foreground: 210 40% 98%;

    --card: 214 65% 11%;
    --card-foreground: 210 40% 98%;

    --popover: 214 65% 12%;
    --popover-foreground: 210 40% 98%;

    --primary: 199 95% 62%;
    --primary-foreground: 214 82% 12%;

    --secondary: 217 70% 18%;
    --secondary-foreground: 210 40% 98%;

    --muted: 215 45% 20%;
    --muted-foreground: 215 20% 80%;

    --accent: 191 97% 68%;
    --accent-foreground: 215 25% 15%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217 60% 20%;
    --input: 217 60% 20%;
    --ring: 199 95% 64%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  @apply bg-background;
}
::-webkit-scrollbar-thumb {
  @apply bg-sky-500/50 rounded-full hover:bg-sky-400/80;
}
